@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

#subtitle {
    font-family: "Yusei Magic", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow-wrap: anywhere;
    word-break: normal;
    line-break: strict;
}